{% extends 'services/_base2.html' %}
{% load static %}
{% block page_title %}
All services
{% endblock page_title %}
{% block style%}
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="{%  static 'calander/css/style.css' %}">
<link rel="stylesheet" href="{%  static 'calander/css/bootstrap-datetimepicker.min.css' %}">
{% endblock style %}

{% block content %}

<section id="pricing" class="white">
    <div class="container" style="background-color: black;margin: auto;align-items: center;text-align: center;" >
      
        <div class="gap"></div>
        <div id="pricing-table" class="row">
            <div class=" fade-down " style="margin: auto;width: 60%;">
                <ul class="plan plan1"  >
                  <li>
                   
                
                    <section class="ftco-section">
                      <div class="container">
                        <div class="row justify-content-center">
                          <div class="col-md-6 text-center mb-5">
                            <h2 class="heading-section">Calendar #09</h2>
                          </div>
                        </div>
                        <div class="row justify-content-center">
                          <div class="col-md-4 text-center">
                            <h3 class="h5">Calendar Datepicker</h3>
                            <div class="w-100">
                              <form action="" method="post" class="datepickers">
                                <div class="form-group">
                                  <!-- <label class="label-control" for="id_start_datetime">Datetime picker</label> -->
                                  <div class="input-group date" id="id_0">
                                    <input type="text" value="" class="form-control" placeholder="MM/DD/YYYY hh:mm:ss" required/>
                                  </div>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  
                     
                    
                   
                   
                   
                    
                    </li>
                  
                 
                    <li class="plan-action">
                        <a href="{% url 'showServicePerApi' %}" class="btn btn-outlined btn-primary btn-md btn-white"  style="color: red;">continue</a>
                    </li>
                </ul>
            </div><!--/.col-md-3-->
        
        </div>
        <div class="gap"></div>
    </div>
</section>  


  {% endblock content%}


  {% block script %}
<script>
  <script src="{%  static 'calander/js/jquery.min.js' %}"></script>
  <script src="{%  static 'calander/js/popper.js' %}"></script>
  <script src="j{%  static 'calander/s/bootstrap.min.js' %}"></script>
  <script src="{%  static 'calander/js/moment-with-locales.min.js' %}"></script>
  <script src="{%  static 'calander/js/bootstrap-datetimepicker.min.js' %}"></script>
  <script src="{%  static 'calander/js/main.js"></script>
</script>
{% endblock script %}