{% extends 'services/_base2.html' %}

{% block page_title %}
All services
{% endblock page_title %}

{% block content %}

<section id="pricing" class="white">
    <div class="container" style="background-color: black;" >
        <div     class="center gap fade-down section-heading">
            <h2 class="main-title" style="color: white;">So, How Much?</h2>
            <hr>
            <p>Of an or game gate west face shed. ﻿no great but music too old found arose.</p>
        </div>
        <div class="gap"></div>
        <div id="pricing-table" class="row">
            {% for service in services %}
          

            <div class="col-md-3 col-xs-6 flip-in">
                <ul class="plan plan1" style="background-color: rgb(213, 60, 60);" >
                    <li class="plan-name">
                        <h3>{{service.title}}</h3>
                    </li>
                    <li class="plan-price">
                        <div>
                            <span class="price"><sup>$</sup>{{service.price}}</span>
                           
                        </div>
                    </li>
                    <li>
                        <strong>5GB</strong> Storage
                    </li>
                    <li>
                        <strong>1GB</strong> RAM
                    </li>
                    <li>
                        <strong>400GB</strong> Bandwidth
                    </li>
                    <li>
                        <strong>10</strong> Email Address
                    </li>
                    <li>
                        <strong>{{service.text}}</strong> Support
                    </li>
                    <li class="plan-action">
                        <form action="{%  url 'cart:cart_add'  service.id  %}" method="POST">
                            {% csrf_token %}
                            {{add_to_cart_form.as_p}}
            
                            <button type="submit" class="btn btn-outlined btn-primary btn-md btn-white">book</button>
                        </form>
                       
                    </li>
                </ul>
            </div><!--/.col-md-3-->
           
            {% endfor %}
        </div>
        <div class="gap"></div>
    </div>
</section>  

  
{% endblock content%}
